.page{
    display: grid;
    grid-gap: 1em;
    justify-content: center;
}
form{
    display: grid;
    width: 90vw;
    margin: 0 auto;
    color: white;
    min-height: fit-content;
    grid-gap: 1em;
}
.link{
    text-align: center;
    color: white;
    margin: 0 auto;
}
