
.signIn{
    display: grid;
    max-width: 500px;
    grid-gap: 1em;
    margin: auto;
    color: white;
    min-height: fit-content;
}
.center{
    display: flex;
    justify-content: center;
}
/* small screen */
@media only screen and (max-width: 500px) {
    .signIn{
        max-width: 100vw;
        margin: auto;    
    }
    input{
        max-width: 80vw;
        margin: 0 auto;
    }
}
