.cardsList {
    display: grid;
    grid-gap: 0.5em;
    text-align: center;
    margin: auto;
  }
  
  .personalPage {
    background-color: white;
    min-height: 100vh;
  }
  
  .pageHeader {
    background-color: #5352ed;
    text-transform: capitalize;
    margin-bottom: 1em;
    color: white;
    text-align: center;
    padding: 1em;
    border-bottom-left-radius: 10em;
    border-bottom-right-radius: 10em;
  }
  
