/*      continaer        */
.searchPage {
  height: 100vh;
  text-align: center;
  display: flex;
}
/*      text        */
.searchTitle {
  color: white;
  text-align: center;
  font-weight: 100;
  margin: auto;
}
.searchContainer {
  margin: auto;
  width: 90%;
}

.selected{
  color: #5352ed;
  background-color: white;
}

.finda{
  display: flex;
  margin: 24px auto;
  justify-content: space-around;
  color: white;
  width: 400px;
}
.find{
  color: white;
  margin: auto;
  font-weight: 400;
}
.buttons{
  display: inline-flex;
  margin: auto;
  width: fit-content;
  margin: 1em auto;
}

@media (max-width: 400px) {
  .finda{
    margin: auto;
    width: 70vw;
    display: grid;
    margin-bottom: 16px;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .find{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 8px;
  }
 }