.cardContainerDark, .cardContainer{
  display: grid;
  border-radius: 2em;
  padding: 8px;
  width: 90%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 20px 0px rgba(82, 82, 237, 0.438);
}
.cardContainer {
  background-color: white;
  color: #5352ed;
}
.cardContainerDark{
  background-color: #00008634;
  color: white;
}
.cardContainer:hover {
  box-shadow: 0px 0px 20px 0px rgba(82, 82, 237, 0.9);
}
.discountCodeContainer, .nameBrandContainer {
  display: flex;
}
.topCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.discountCodeContainer {
  flex-direction: column;
}
.nameBrandContainer {
  flex-direction: column;
  margin: auto;
}
.brandContainer{
  margin: auto;
}

p {
  margin: auto;
}


.cardContainerDark a{
  color: white;
  margin: auto;
}
a{
  text-decoration: none;
  color: #5352ed;
}
a.brandDark, a.influencerDark{
  color: white;
}
a.brand{
  font-size: x-large;
}
a.influencerIcon, .codeType{
  height: 50px;
  width: 50px;
  margin: auto;
  color: white;
  line-height: 50px;
}
a.influencerIcon{
  background-color: #5352ed;
  border-radius: 100%;
  font-size: larger;
}
.codeType{
  background: #5252ed7c;
  border-radius: 100%;
  text-transform: capitalize;
}

.code{
  font-size: x-large;
}

.code,
.codeType {
  font-weight: bold;
}
.brand,
.discount {
  font-size: 14px;
  text-transform: uppercase;
}
.proceeds {
  font-size: 14px;
}
.influencer, .influencerIcon{
  text-transform: capitalize;
}

@media (max-width: 575px) {
  a.brand, .code,.influencer {
   font-size: small;
 }
 a.influencerIcon, .codeType{
   height: 18px;
   width: 18px;
   font-size: 18px;
   line-height: 18px;
   font-weight: 400;
 }

 .proceeds{
   visibility: hidden;
   height: 0px;
   width: 0px;
 }
}