.addCodeContainer {
  min-height: 100vh;
  display: grid;
  grid-gap: 0.5em;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.selected {
  color: #5352ed;
  background-color: whitesmoke;
}
button:hover {
  box-shadow: 0px 0px 10px 0px rgba(33, 33, 128, 0.753);
}
.buttons{
  display: grid;
  grid-auto-flow: column;
}

@media (max-width: 400px) {
  .addCodeContainer {
    width: unset;
  }
  
}