.errorPageContainer{
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    color: white;
    max-height: 100vh
}
a.backButton{
    color: white;
    border-radius: 1em;
    border: 1px solid white;
    padding: 1em;
    margin: auto;
}
a.backButton:hover{
    border: 1.5px solid white;
    box-shadow:0px 10px 20px -10px rgba(15, 25, 107, 0.397);
}