.searchBar {
  color: #5352ed;
  width: 90%;
  margin: auto;
  padding: 1em;
  border-radius: 2em;
  border: none;
  box-shadow: 0px 0px 10px 0px #5352ed;
}
.searchContainer {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.searchResults{
  margin-top: 0.5em;
  display: grid;
  grid-gap: 0.5em;
}
.searchBar:hover {
  box-shadow: 0px 0px 20px 0px rgb(48, 48, 223);
  animation: grad 5s ease-in both infinite;
}

@keyframes grad {
  50% {
    box-shadow: 0px 0px 50px -10px rgb(61, 61, 228);
  }
}

