.addCodeContainer {
  min-height: 100vh;
  display: grid;
  grid-gap: 0.5em;
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 0;
}
.selected {
  background-color: white;
  color: rgb(66, 66, 240);
}
h2 {
  margin: none;
  text-align: center;
  background-color: white;
  color: #5352ed;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
}
.section{
  width: 100%;
}

button.createAccount {
  display: block;
  max-height: 60px;
}
button {
  font-size: large;
}
@media (max-width: 400px) {
  button{
    font-size: medium;
  }
  .addCodeContainer{
    max-width: 100vw;
    width: unset;
  }
  
}