.App {
  text-align: center;
}
input, textarea {
  padding: 1em;
  border-radius: 2em;
  border: none;
  width: 100%;
}
button{
  border-radius: 2em;
  border: none;
  padding: 1em;
  color: white;
  background-color: rgb(66, 66, 240);
  border: 1px solid white;
}

button.CTA{
  min-width: 160px;
}

h1, h2, h3, h4{
  margin: 0;
}

.loading{
  height: 100vh;
  width: auto;
  margin: auto;
  display: flex;
}
.loading h1{
  width: min-content;
  margin: auto;
  color: white;
}

/* small screen */
@media only screen and (max-width: 500px) {
  input, textarea{
      max-width: 80vw;
      margin: 0 auto;
  }
  
}
