.navContainer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #eee;
    margin: 0 8px;
}
.navContainer a{
    color: white;
    line-height: 50px;
}
.navContainer p{
    margin: 0;
    padding: 0;
}
.navContainer button{
    width: fit-content;
    justify-self: right;
}
img.profile{
    height: 40px;
    cursor: pointer;
    width: 111px;
}

/*media needs to make profile width smaller.*/